body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myCard > a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px 10px;
}

.myCard:hover {
  transform: translate(0px, -3px);
  transition: 0.5s;
  box-shadow: gray 5px 5px;
}

.myCard {
  padding: 0px 10px;
  height: 250px;
  display: inline-block;
  border: 1px solid black;
  width: 29%;
  margin: 2%;
  text-decoration: none;
  margin-top: 55px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.classic {
  display: block;
  width: 100%;
  border: 1px solid black;
  margin: 10px 110px;
  padding: 10px 0px;
  text-decoration: none;
}

.classic:hover {
  transform: translate(0px, -3px);
  transition: 0.5s;
  box-shadow: gray 5px 5px;
}

.classic > a {
  text-decoration: none;
  color: black;
}

.compact {
  display: block;
  width: 100%;
  border: 1px solid black;
  margin: 10px 110px;
  padding: 10px 0px;
  text-decoration: none;
}

.compact:hover {
  transform: translate(0px, -3px);
  transition: 0.5s;
  box-shadow: gray 5px 5px;
}

.compact > a {
  text-decoration: none;
  color: black;
}

.title {
  display: block;
  text-overflow: ellipsis;
  font-weight: 600;
}

.commentCount {
  margin: 0px 0px;
}

.scoreCount {
  margin: 0px 0px;
}

.author {
  font-size: smaller;
}

.tabs {
  margin-top: 55px;
}

.article-list {
  max-width: 100%;
  justify-content: center;
  align-items: baseline;
  align-content: baseline;
}

.article-preview > p {
  text-decoration: none;
  color: black;
}

